.navbar {
    position: relative;
    z-index: 1 !important;
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    -ms-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    -o-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);   
    background: linear-gradient(90deg, rgb(59, 41, 74) 0%, rgb(128, 101, 170) 100%);    
    min-height: 75px;
}



.navbar-brand > img {
    width: 50px !important;
    border: none;
}

    .sidebar-icon-container {
        position: absolute;
        right: 40px;
    }

   .sidebar-icon {
    color: #dfdfdf;
    font-size: 33px;
    padding-right: 20px;
}

@media screen and (min-width: 0px) and (max-width: 700px) {
    /* .container { display: none; } 
    .sidebar-icon { display: block; } */
  }
  
.dropdown-menu {
    background: linear-gradient(90deg, rgb(128, 101, 170) 0%, rgb(68, 50, 83) 100%);
}

.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

img {
    max-height: 55px;
    border: 2px solid #b5b5b5;
    border-radius: 50%;
    display: inline;
    background-size: cover;
}

li {
    padding-right: 10px;
}

li, a, .main-profile-container {
    color: #dfdfdf !important;
}

.side-menu {
    width: 180px;
    padding: 0;
}

.side-menu hr {
    border-top: 1px solid #d0d0d021;
}

.side-menu .main-profile-container img{
  width: 90px;
  max-height: 90px !important;
}

.side-menu .fa {
    border-radius: 20%;
    width: 36px;
    height: 33px;
    line-height: 35px;
    font-size: 16px
}

/* .side-menu .fa-heart {
    background: #8f3147;
}

.side-menu .sidebar-user-icon {
    background: #2bacb0;
}

.side-menu .fa-comment {
    background: #3aba74;
} */

.side-menu li {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    text-decoration: none;
    border-right: 3px solid transparent;
}

.side-menu .hover-red:hover {
    border-right: 3px solid #8f3147;
}

.side-menu .hover-blue:hover {
    border-right: 3px solid #2bacb0;
}

.side-menu .hover-green:hover {
    border-right: 3px solid #3aba74;
}

.side-menu img {
    width: 50px;
    border-radius: 50%;
    border: 2px solid grey;
}

.bottom-container .fa{
    font-size: 28px;
    color: #dfdfdf;
}   

.bottom-container .fa-sliders {
    position: absolute;
    bottom: 25px;
    left: 15px;
}

.bottom-container .fa-sign-out {
    position: absolute;
    bottom: 25px;
    right: 15px;
}

.navbar-brand {
    color: #6798e2 !important;
}

