<mat-card-header fxLayout="row" fxLayoutAlign="space-between start">
    <mat-card-title>Login</mat-card-title>
    <button mat-icon-button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-header>
<mat-card-content>
    <form fxLayout="column" #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
        <mat-form-field fxFlex="100">
            <mat-label>Username</mat-label>
            <input matInput name="username" [(ngModel)]="model.username" />
        </mat-form-field>
        <mat-form-field fxFlex="100">
            <mat-label>Password</mat-label>
            <input matInput name="password" type="password" [(ngModel)]="model.password" />
        </mat-form-field>
        <div mat-dialog-actions fxLayoutAlign="end center">
            <button mat-raised-button color="primary" type="submit">Login</button>
        </div>
    </form>
</mat-card-content>