<div class="background-image"></div>
<div class="banner-container text-center">
  <div>
    <h1 class="banner-text mb-0">Date Me</h1>
    <h4 class="mt-0">international dating agency</h4>
  </div>
  <div class="content-container pl-4">
    <h1 class="mb-0">Choose your soul mate</h1>
    <h4 class="mt-0 mb-1">from 300,000+ lonely hearts</h4>
    <button mat-stroked-button color="primary">Join Us</button>
  </div>
</div>
<!-- couple image -->
<img src="../../../../../assets/img/home/couple.png" class="couple-bg">

<section class="love-stories">
<img src="../../../../../assets/img/home/white-bg.png" class="white-bg" alt="white background image" width="100%">
<div class="love-stories-container">
  <div class="text-container mt-5">
    <h1>Love Stories</h1>
    <p class="text-muted">Today, on our 50th wedding anniversary, my husband took out an old envelope and
      handed me back the love note I wrote him in the 7th grade.</p>
    <h5 class="text-center text-uppercase font-weight-bold">Kory Robbins & Teresa Briggs</h5>
  </div>
  <div class="images-container-left">
    <img src="../../../../../assets/img/home/home-03.jpg" style="width: 100%;">
    <img src="../../../../../assets/img/home/home-04.jpg" style="width: 50%;">
    <img src="../../../../../assets/img/home/home-05.jpg" style="width: 50%;">
    <img src="../../../../../assets/img/home/home-06.jpg" style="width: 50%;">
    <img src="../../../../../assets/img/home/home-07.jpg" style="width: 50%;">
  </div>
  <div class="images-container-right">
    <img src="../../../../../assets/img/home/home-08.jpg" style="width: 100%;">
    <img src="../../../../../assets/img/home/home-09.jpg" style="width: 100%;">
  </div>
</div>
<img src="../../../../../assets/img/home/orange-bg.png" class="orange-bg" alt="orange background image" width="100%">
</section>