<div class="background-image"></div>
<div class="banner-container text-center">
  <div>
    <h1 class="banner-text text-white mb-0">Twiply</h1>
    <p class="mt-0 text-white">the social network you need</p>
  </div>
    <div class="content-container" [style.padding-left.px]="100">
      <h1 class="mb-0 text-white">Chat, Post, Meet</h1>
      <h4 class="mt-0 mb-0 text-white">with 300,000+ active members</h4>
    </div>
    <!-- <div>
      <img src="../../../../../assets/img/home/social-network-bg.png">
    </div> -->
</div>
<section class="sign-up">
<img src="../../../../../assets/img/home/white-bg.png" class="white-bg" alt="white background image" width="100%">
<div class="sign-up-container">
  <div class="text-container mt-5">
    <h1 class="text-black">JOIN NOW</h1>
    <p class="text-muted">In a few steps you can get online and get started. Use the button below to setup your profile.</p>
   <div class="text-center mb-1"><button mat-raised-button color="primary">Sign Up</button></div>
  </div>
  <div class="images-container-left">
    <img src="../../../../../assets/img/home/social-network-bg.png">
  </div>

</div>
</section>