@import "../../../../../style/_colors";

.background-image {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #eb8686;
  background: linear-gradient(90deg, #eb8686 8%, #ed8f8f 100%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
  z-index: -1;
}

.arrow-btn {
    color: $primary;
    font-size: 22px !important;

    .mat-icon {
        font-size: 38px !important;
        vertical-align: top !important;
        line-height: 37px !important;
    }
}

.white-bg {
  position: absolute;
  top: -100px;
  height: 615px;
}

.banner-container .banner-text {
  text-transform: uppercase;
  font-size: 50px;
  margin-top: 65px;
}

.banner-container p {
  font-size: 22px;
  font-style: italic;
  font-family: "Josefin Sans", Helvetica, sans-serif;
}

.content-container {
  height: 120px;
  text-align: left;
}

.content-container h1 {
  margin-top: 70px;
  font-size: 45px;
  font-weight: 200;
  text-transform: uppercase;
}

.content-container h4 {
  font-size: 32px;
  font-style: italic;
  font-weight: 600;
  font-family: "Lora" !important;
}

/* sign-up */
.sign-up {
  position: relative;
  height: 545px;
  background: white;
}

.sign-up-container {
  position: relative;
  width: 1100px;
  margin: 0 auto;
}

.sign-up .text-container {
  position: absolute;
  width: 520px;
  border: 5px solid $primary;
  z-index: 300;
  left: 50px;
  top: 80px;
}

.sign-up .text-container h1 {
  margin-left: -50px;
  font-size: 46px;
  text-transform: uppercase;
  margin-top: 50px;
}

.sign-up .text-container p {
  position: relative;
  left: 50%;
  margin-top: 40px;
  transform: translate(-50%, -50%);
  font-size: 17px;
  width: 340px;
  font-style: italic;
}

.sign-up .images-container-left {
  right: 180px;
  width: 400px;
  top: 15px;
  position: absolute;
  z-index: 200;
  font-size: 0 !important;
}