/* You can add global stdoyles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/bootswatch/dist/materia/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';

body {
  font-family: 'Josefin Sans' !important;
  overflow-x: hidden;
  background-color: #fff;
}

.card {
  background: #fbfbfb;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #ffffff, #f9f9f9) !important;
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #ffffff, #f9f9f9) !important;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* font sizes */
.small-font { font-size: 12px }
.medium-font { font-size: 14px; }
.large-font { font-size: 18px; }
.xl-font { font-size: 24px; }

/* alertify */
.ajs-message.ajs-visible {
  border-radius: 8px;
}

/* theme override */
.btn {
  padding: 0.55rem 0.65rem;
  font-size: 12px;
  outline: none;
}

.btn-clean {
  background: none;
  box-shadow: none
}

button:focus, button:active {
  outline: none !important;
}

.btn-custom {
  text-transform: uppercase;
  border: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  color: black;
  box-shadow: none;
  font-size: 16px;
  font-weight: bold;
}

.btn-custom:hover .arrow-right {
  background: #ff5252;
  color: white;
}

.arrow-right {
  color: #ff5252d3;
  font-size: 24px;
  border: 3px solid #ff5252d3;
  padding: 3px 6px;
  vertical-align: sub;
}

label {
  font-size: 12px !important;
}

.nav-tabs {
  margin-bottom: 15px !important;
}

/* .bg-primary {
  border: none;
  background: linear-gradient( rgb(68, 50, 83) 0%,  rgb(128, 101, 170) 100%) !important;
}

.page-item.active .page-link {
    background: rgb(128, 101, 170) !important;
    border: none;
}
 */
.btn-primary {
  background: #ff5252d3 !important;
  border: none;
}

.text-primary {
  color: #ff5252d3 !important;
}


/* navbar */
.navbar {
  padding: 10px;
}

.flyout {
    z-index: 1040 !important;
    padding: 10px !important;
    height: 100% !important;
}


.close-btn-container .close-btn::before, .close-btn::after {
      background-color: #5c5c5c !important;
}

/* forms */
.form-control {
  border-radius: 1px !important;
}

.input-sm {
  height: 35px;
}

/* tabs */
/* .tab-panel {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
  }
  
  .nav-tabs > li.open, .member-tabset > .nav-tabs > li:hover {
    border-bottom: 4px solid #2196f380;
  }
  
  .member-tabset > .nav-tabs > li.open > a, .member-tabset > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333333;
  }
  
  .member-tabset > .nav-tabs > li.open > a > i, .member-tabset > .nav-tabs > li:hover > a > i {
    color: #a6a6a6;
  }
  
  .member-tabset > .nav-tabs > li.open .dropdown-menu, .member-tabset > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
  }
  
  .member-tabset > .nav-tabs > li.active {
    border-bottom: 4px solid #2196F3;
    position: relative;
  }
  
  .member-tabset > .nav-tabs > li.active > a {
    border: 0 !important;
    color: #333333;
  }
  
  .member-tabset > .nav-tabs > li.active > a > i {
    color: #404040;
  }
  
  .member-tabset > .tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0;
  } */