.table-title {
    min-width: 90px;
}

.edit-icon {
    font-size: 22px !important;
    width: 22px !important;
    height: 22px !important;
}

.textarea-edit {
    height: 120px;
}

.mat-tab-group {
    width: 500px !important;
}