@import "../../../../../style/_colors";

.second-column {
    width: calc(100% - 160px);
}

.table-title {
  min-width: 90px;
}

.edit-icon {
  font-size: 22px !important;
  width: 22px !important;
  height: 22px !important;
}

.textarea-edit {
  height: 120px;
}

textarea {
  overflow: hidden !important;
}

perfect-scrollbar {
    margin-bottom: 10px;
    padding-right: 15px;
    height: 120px;
    max-height: 120px;
}

.age {
    color: $blue;
}

p {
    margin-top: 3px;
}
