.mat-icon-button .mat-icon {
    line-height: 10px !important;
}

.mat-dialog-title {
    font-family: 'Josefin Sans', "Helvetica Neue", sans-serif !important;
    width: 100%;
  }

  .mat-dialog-content {
    overflow: visible !important;
  }
  