@import "../_colors";

.mat-icon {
    font-size: 17px;
    width: 18px !important;
    height: 16px !important;
    vertical-align: text-bottom !important;

    &.mat-success {
        color: $green;
    }

    &.mat-secondary {
        color: $grey;
    }
}

.md-icon {
    font-size: 28px !important;
    width: 28px !important;
    height: 28px !important;
}