/* You can add global styles to this file, and also import other style files */
@import "style/theme";
@import "style/utilities";

@import "style/material/mat-button.scss";
@import "style/material/mat-snackbar.scss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #292929;
}

.mat-dialog-content {
  overflow: visible !important;
}
