/* You can add global styles to this file, and also import other style files */
@import "style/theme";
@import "style/utilities";
@import "style/fonts";

@import "style/material/mat-button.scss";
@import "style/material/mat-snackbar.scss";
@import "style/material/mat-dialog.scss";
@import "style/material//mat-button.scss";
@import "style/material//mat-tab.scss";
@import "style/material//mat-icon.scss";
@import "style/material/mat-form-field.scss";

@import '~perfect-scrollbar/css/perfect-scrollbar.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Josefin Sans", "Helvetica Neue", sans-serif;
  color: #292929;
}

.ngx-progress-bar {
  height: 6px !important;
}

.ngx-progress-bar__value {
  display: none;
  //top: 3px !important;
}

// .container {
//   width: 100%;
//   padding-right: 0.75rem;
//   padding-left: 0.75rem;
//   margin-right: auto;
//   margin-left: auto;
// }

// @media (min-width: 576px) {
//   .container {
//     width: 540px;
//   }
// }
// @media (min-width: 768px) {
//   .container {
//     width: 720px;
//   }
// }
// @media (min-width: 992px) {
//   .container {
//     width: 960px;
//   }
// }
// @media (min-width: 1200px) {
//   .container {
//     width: 1140px;
//   }
// }
// @media (min-width: 1400px) {
//   .container {
//     width: 1320px;
//   }
// }
