<div class="d-flex mt-3">
  <div class="col-md-3">
    <span class="mb-1 text-lg border-bottom">Upload image</span>
    <div fxLayout="column" fxLayoutAlign="center center" ng2FileDrop [ngClass]="{ 'nv-file-over': hasBaseDropzoneOver }"
      (fileOver)="fileOverBase($event)" [uploader]="uploader" class="well my-drop-zone">
      <mat-icon color="success">upload_file</mat-icon>
      Drop files to upload
    </div>
<!-- TODO: Style them -->
     <!-- Multiple
    <input type="file" ng2FileSelect [uploader]="uploader" multiple /><br />

    Single
    <input type="file" ng2FileSelect [uploader]="uploader" /> -->

    <div class="mb-4" *ngIf="uploader?.queue?.length">
      <h4 class="mb-1">Upload queue</h4>
      <p class="mt-1">Queue length: {{ uploader?.queue?.length }}</p>
      <div fxLayout="row" fxLayoutAlign="space-between center" class="border-bottom mb-1">
        <div>Name</div>
        <div>Size</div>
      </div>
      <div *ngFor="let item of uploader.queue" fxLayout="row" fxLayoutAlign="space-between center" class="mb-1">
        <div>
          <strong>{{ item?.file?.name }}</strong>
        </div>
        <div *ngIf="uploader.options.isHTML5" nowrap>
          {{ item?.file?.size / 1024 / 1024 | number: ".2" }} MB
        </div>
      </div>
      <div class="d-flex mt-3">
        <div>
          Queue progress:
          <div class="mt-1">
            <ngx-progress-bar [value]="uploader.progress"></ngx-progress-bar>
            <!-- <div class="progress-bar" [ngStyle]="{ width: uploader.progress + '%' }"></div> -->
          </div>
          <button mat-raised-button color="success" type="button" class="mr-1" (click)="uploader.uploadAll()"
            [disabled]="!uploader.getNotUploadedItems().length">
            <mat-icon>cloud_upload</mat-icon> Upload all
          </button>
          <button mat-raised-button color="accent" type="button" class="mr-1" (click)="uploader.cancelAll()"
            [disabled]="!uploader.isUploading">
            <mat-icon>do_disturb</mat-icon> Cancel all
          </button>
          <button mat-raised-button color="warn" type="button" (click)="uploader.clearQueue()"
            [disabled]="!uploader.queue.length">
            <mat-icon>delete</mat-icon> Remove all
          </button>
        </div>
      </div>
    </div>
  </div>
</div>