@import '../../../../../style/colors';

img {
    width: 70px;
    height: auto;
    border-radius: 50%;
}

.chat-sub-container {
    padding: 5px 10px 5px 15px;
}

.chat-member-panel:hover {
    background: #f7f7f7;
}