<div fxLayout="row">
    <div fxLayout="column" class="border-right chat-sub-container">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <p class="text-bold">Chats</p>
            <div>
                <mat-icon matSuffix class="muted navigate mr-1">settings</mat-icon>
                <mat-icon matSuffix class="muted navigate">more_horiz</mat-icon>
            </div>
        </div>
        <mat-form-field appearance="outline">
            <mat-label>Search contact</mat-label>
            <input matInput value="">
            <mat-icon matSuffix class="muted">search</mat-icon>
          </mat-form-field>
        <div *ngFor="let message of messages">
            <div fxLayout="row" fxLayoutAlign="start center" class="chat-member-panel border-rounder navigate p-2" (click)="getMessageThread(message.senderUsername)">
                <div class="mr-2">
                    <img src="{{
                        message.senderPhotoUrl ||
                        './assets/img/common/default-user-profile-picture.png'
                    }}" alt="photo of a member" class="mt-0" />
                </div>
                <div fxLayout="column">
                    <span class="text-bold mb-1">{{message.senderUsername | titlecase}}</span>
                    <span class="text-xs-md">{{message.content}} <span class="muted text-xs">{{message.messageSent | date}}</span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="chat" fxFlex>
        <div class="chat-history">
            <ul class="m-b-0">
                <li *ngFor="let thread of messageThread">
                    <div *ngIf="thread.senderUsername !== username">
                        <div class="message-data text-right">
                            <span class="message-data-time">{{thread.messageSent | date}}</span>
                            <img src="{{thread.senderPhotoUrl}}" alt="avatar">
                        </div>
                        <div class="message other-message my-message float-right">{{thread.content}}</div>
                    </div>
                    <div *ngIf="thread.senderUsername == username">
                        <div class="message-data">
                            <span class="message-data-time">{{thread.messageSent | date}}</span>
                            <img src="{{thread.senderPhotoUrl}}" alt="avatar">
                        </div>
                        <div class="message my-message">{{thread.content}}</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
