<div class="container bootstrap snippet mt-5">
   <!-- profile post form -->
   <div class="col-sm-10 col-md-8 mb-2" style="margin: 0 auto;">
   <form class="profile-post-form" method="post">
    <textarea class="form-control autogrow pl-2" placeholder="What's on your mind?"
     style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 80px;"
     [(ngModel)]="description" name="description"></textarea>
    <div class="form-options">
        <div class="post-type">
            <a href="#" class="tooltip-primary" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Upload a Picture">
                <i class="entypo-camera"></i>
            </a>
            <a href="#" class="tooltip-primary" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Attach a file">
                <i class="entypo-attach"></i>
            </a>
            <a href="#" class="tooltip-primary" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Check-in">
                <i class="entypo-location"></i>
            </a>
        </div>
        <div class="post-submit">
            <button type="button" class="btn btn-primary" (click)="addPost()">POST</button>
        </div>
    </div>
</form>
</div>
  <div *ngFor="let post of posts" class="col-sm-10 col-md-8 mb-5" style="margin: 0 auto;">
      <div class="panel panel-white post panel-shadow">
          <div class="post-heading">
              <div class="pull-left image">
                  <img src="{{post.authorPhotoUrl}}" class="img-circle avatar" alt="user profile image">
              </div>
              <div class="pull-left meta">
                  <div class="title h5">
                      <a href="#"><b>{{post.author}}</b></a>
                      made a post.
                  </div>
                  <h6 class="text-muted time">{{post.created | timeAgo}}</h6>
              </div>
          </div> 
          <div class="post-description"> 
              <p>{{post.description}}</p>
              <!-- <div class="stats">
                  <a href="#" class="btn btn-default stat-item">
                      <i class="fa fa-thumbs-up icon"></i>2
                  </a>
                  <a href="#" class="btn btn-default stat-item">
                      <i class="fa fa-share icon"></i>12
                  </a>
              </div> -->
          </div>
          <!-- <div class="post-footer">
              <div class="input-group"> 
                  <input class="form-control" placeholder="Add a comment" type="text">
                  <span class="input-group-addon">
                      <a href="#"><i class="fa fa-edit"></i></a>  
                  </span>
              </div>
              <ul class="comments-list">
                  <li class="comment">
                      <a class="pull-left" href="#">
                          <img class="avatar" src="https://bootdey.com/img/Content/user_1.jpg" alt="avatar">
                      </a>
                      <div class="comment-body">
                          <div class="comment-heading">
                              <h4 class="user">Gavino Free</h4>
                              <h5 class="time">5 minutes ago</h5>
                          </div>
                          <p>Sure, oooooooooooooooohhhhhhhhhhhhhhhh</p>
                      </div>
                      <ul class="comments-list">
                          <li class="comment">
                              <a class="pull-left" href="#">
                                  <img class="avatar" src="https://bootdey.com/img/Content/user_3.jpg" alt="avatar">
                              </a>
                              <div class="comment-body">
                                  <div class="comment-heading">
                                      <h4 class="user">Ryan Haywood</h4>
                                      <h5 class="time">3 minutes ago</h5>
                                  </div>
                                  <p>Relax my friend</p>
                              </div>
                          </li> 
                          <li class="comment">
                              <a class="pull-left" href="#">
                                  <img class="avatar" src="https://bootdey.com/img/Content/user_2.jpg" alt="avatar">
                              </a>
                              <div class="comment-body">
                                  <div class="comment-heading">
                                      <h4 class="user">Gavino Free</h4>
                                      <h5 class="time">3 minutes ago</h5>
                                  </div>
                                  <p>Ok, cool.</p>
                              </div>
                          </li> 
                      </ul>
                  </li>
              </ul>
          </div> -->
      </div>
  </div>
</div>