.panel-shadow {
    /* box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px; */
    box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px;
}

.panel-white {
    border: 1px solid #dddddd;
}

.panel-white .panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #ddd;
}

.panel-white .btn-comment {
    font-size: 10px !important;
    height: 30px !important;
}

.panel-white .panel-footer {
    background-color: #fff;
    border-color: #ddd;
}

.post .post-heading {
    height: 95px;
    padding: 20px 15px;
}

.post .post-heading .avatar {
    width: 60px;
    height: 60px;
    display: block;
    margin-right: 15px;
    border-radius: 50%;
    border: 1px solid #d1d1d1;
}

.post .post-heading .meta .title {
    margin-bottom: 0;
}

.post .post-heading .meta .title a {
    color: black;
}

.post .post-heading .meta .title a:hover {
    color: #aaaaaa;
}

.post .post-heading .meta .time {
    margin-top: 8px;
    color: #999;
}

.post .post-image .image {
    width: 100%;
    height: auto;
}

.post .post-description {
    padding: 15px;
}

.post .post-description p {
    font-size: 14px;
}

.post .post-description .stats {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.post .post-description .stats .comment-wrapper {
    line-height: 35px;
}

.post .post-description .stats .stat-item {
    display: inline-block;
    margin-right: 15px;
    font-size: 15px;
}

.post .post-description .stats .stat-item .icon {
    margin-right: 8px;
    font-size: 18px;
    color: #ff5252;
}

.post .post-footer {
    border-top: 1px solid #ddd;
    padding: 15px;
    background: #f6efefb0;
}

.post .post-footer .input-group-addon a {
    color: #454545;
}

.post .post-footer .comments-list {
    padding: 0;
    margin-top: 10px;
    list-style-type: none;
    max-height: 215px;
    overflow-y: auto;
}

.post .post-footer .comments-list .comment {
    display: block;
    width: 100%;
    margin: 0;
}

.post .post-footer .comments-list .comment .avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #d1d1d1;
}

.post .post-footer .comments-list .comment .comment-heading {
    display: block;
    width: 100%;
}

.post .post-footer .comments-list .comment .comment-heading .user {
    font-size: 14px;
    font-weight: bold;
    display: inline;
    margin-top: 0;
    margin-right: 10px;
}

.post .post-footer .comments-list .comment .comment-heading .time {
    font-size: 12px;
    color: #aaa;
    margin-top: 0;
    display: inline;
}

.post .post-footer .comments-list .comment .comment-body {
    margin-left: 50px;
}

.post .post-footer .comments-list .comment>.comments-list {
    margin-left: 50px;
}

/* make a post */

.profile-post-form {
    border: 1px solid #ebebeb;
    margin-bottom: 30px;
    -webkit-border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 3px;
    -moz-background-clip: padding;
    border-radius: 3px;
    background-clip: padding-box;
}

.profile-post-form .form-control {
    border: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0;
    background: #fff;
    min-height: 80px;
    -webkit-border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 3px;
    -moz-background-clip: padding;
    border-radius: 3px;
    background-clip: padding-box;
}

.profile-post-form .form-options {
    background: #f9f4f4;
    border-top: 1px solid #ebebeb;
    padding: 10px;
}

.profile-post-form .form-options:before, .profile-post-form .form-options:after {
    content: " ";
    display: table;
}

.profile-post-form .form-options:after {
    clear: both;
}

.profile-post-form .form-options .post-type {
    float: left;
    padding-top: 0px;
}

.profile-post-form .form-options .post-type a {
    margin-left: 10px;
    font-size: 13px;
    color: #aaaaaa;
    -moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.profile-post-form .form-options .post-type a:hover {
    color: #303641;
}

.profile-post-form .form-options .post-submit {
    float: right;
}

.profile-post-form .form-options .post-submit .btn {
    padding-left: 20px;
    padding-right: 20px;
}

.emoji-picker-icon {
    font-size: 22px;
    color: #ff5252;
    line-height: 48px;
    cursor: pointer;
}

.emoji-mart {
    width: 100% !important;
}