<div class="container bootstrap snippet mt-5">
    <!-- profile post form -->
    <div class="col-sm-10 col-md-8 mb-2" style="margin: 0 auto;">
        <form class="profile-post-form" method="post">
            <textarea class="form-control autogrow pl-2" placeholder="What's on your mind?"
                style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 80px;"
                [(ngModel)]="textForPost" name="description"></textarea>
            <div class="form-options">
                <div class="post-type">
                    <i class="fa fa-smile-o emoji-picker-icon" (click)="toggleEmojiPickerForPost($event)"></i>
                </div>
                <div class="post-submit">
                    <button type="button" class="btn btn-primary" (click)="addPost()">POST</button>
                </div>
            </div>
        </form>
    </div>
    <div *ngFor="let post of posts" class="col-sm-10 col-md-8 mb-5" style="margin: 0 auto;">
        <div class="panel panel-white post panel-shadow">
            <div class="post-heading">
                <div class="pull-left image">
                    <img src="{{post.authorPhotoUrl}}" class="img-circle avatar" alt="user profile image">
                </div>
                <div class="pull-left meta">
                    <div class="title h5">
                        <a [routerLink]="['/members/', post.authorId]"><b>{{post.author}}</b></a>
                        made a post.
                    </div>
                    <h6 class="text-muted time">{{post.created | timeAgo}}</h6>
                </div>
            </div>
            <div class="post-description">
                <p>{{post.description}}</p>
                <div class="stats">
                    <a class="btn btn-default stat-item">
                        <i class="fa fa-thumbs-o-up icon"></i>2
                    </a>
                    <div class="comment-wrapper">
                        {{post.comments.length}} comments
                    </div>
                </div>
            </div>
            <div class="post-footer">
                <ul class="comments-list">
                    <li class="comment">
                        <div *ngFor="let comment of post.comments">
                            <a class="pull-left" href="#">
                                <img class="avatar" src="{{comment.user?.photoUrl}}" alt="avatar">
                            </a>
                            <div class="comment-body">
                                <div class="comment-heading">
                                    <h4 class="user">{{comment.user?.knownAs}}</h4>
                                    <h5 class="time">{{comment.created | timeAgo}}</h5>
                                </div>
                                <p>{{comment.text}}</p>
                            </div>
                        </div>
                    </li>
                    <li *ngIf="post.comments.length == 0" class="comment">
                        <span class="font-weight-bold">Be the first to leave a comment!</span>
                    </li>
                </ul>
                <div class="input-group">
                    <input class="form-control" placeholder="share your thoughts" type="text"
                        (click)="openModalAndPassValue(template, post.id)">
                </div>
                <!-- <button class="btn btn-custom" (click)="openModalAndPassValue(template, 2)"><i
                        class="fa fa-long-arrow-right arrow-right mr-2"></i>Join Us</button> -->
            </div>
        </div>
    </div>
</div>
<emoji-mart class="emoji-mart" [style]="cordinates" set="apple" (emojiSelect)="addEmojiForPost($event)"
    *ngIf="showEmojiPickerForPost" title="Pick your emoji…"></emoji-mart>


<ng-template #template>
    <div class="modal-body p-3">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="text-left text-muted pl-1">add comment</h5>
        <div class="input-group mt-3">
            <i class="fa fa-smile-o emoji-picker-icon mr-1" (click)="toggleEmojiPickerForComment($event)"
                (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
                aria-controls="collapseBasic"></i>
            <input class="form-control" [(ngModel)]="textForComment" placeholder="share your thoughts" type="text">
            <i class="fa fa-paper-plane emoji-picker-icon" (click)="addComment()"></i>
        </div>
    </div>
    <div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="false">
        <emoji-mart class="emoji-mart p-3" set="apple" (emojiSelect)="addEmojiForComment($event)"
            title="Pick your emoji…"></emoji-mart>
    </div>
</ng-template>