@import "../../../../../style/_colors";

mat-card {
    padding-bottom: 8px;
    padding-top: 0;

    .member-menu {
        margin-bottom: 19px;
    }

    .gender-icon {
        background-image: linear-gradient(to right bottom, #ff4943, #ff6454, #ff7a66, #ff8f79, #ffa28d);
        border-radius: 50%;
        color: white;
        font-size: 17px !important;
        width: 17px !important;
        height: 17px !important;
    }

    .location-icon {
    color: $primary;
    margin-left: -4px;
    font-size: 20px !important;
    width: 20px !important;
    height: 20px !important;
    }

    .favorite-icon {
        color: #82a8ff;
    }
}

img {
    width: 100px;
    height: auto;
    border-radius: 50%;
    border: 4px solid $border;
    border-top: none;
    margin: 0;
  }
  
