.xs-small {
    font-size: 10px !important;
}

.small {
    font-size: 12px !important;
}

.xs-medium {
    font-size: 13px !important;
}

.medium {
    font-size: 14px !important;
}

.text-large {
    font-size: 19px !important;
}