.text-bold {
    font-weight: bold;
}

.text-justify {
    text-align: justify;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-xs-small {
    font-size: 10px !important;
}

.text-xs {
    font-size: 12px !important;
}

.text-xs-md {
    font-size: 13px !important;
}

.text-md {
    font-size: 14px !important;
}

.text-lg {
    font-size: 19px !important;
}