<div fxLayout="row wrap">
    <div *ngFor="let member of members" fxFlex="33">
        <mat-card class="m-1">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title> {{member.knownAs}}, {{member.age}}</mat-card-title>
                <mat-card-subtitle><mat-icon>location_on</mat-icon>{{member.city}}, {{member.country}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{member.photoUrl}}" alt="Photo of a Shiba Inu">
            <mat-card-content>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>