<nav class="p-1 mb-4">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <a [routerLink]="['/']">Home</a>
    <div *ngIf="(accountService.currentUser$ | async) === null">
      <a class="mr-1" (click)="openLoginDialog()">Login</a>
      <a (click)="openRegisterDialog()">Register</a>
    </div>
    <div *ngIf="accountService.currentUser$ | async">
      <a [routerLink]="['/members']" routerLinkActive="active">Members </a>
    </div>
    <div *ngIf="accountService.currentUser$ | async as user">
      <button mat-button [matMenuTriggerFor]="menu">
        {{ user.username | titlecase }}
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Edit Profile</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </div>
  </div>
</nav>
