@import '../../../style/_colors';

nav {
    padding: 5px 5px 0 5px;
    border-bottom: 1px solid $border;
    box-shadow: 0 -10px 10px 5px #000000;

    .logo {
        width: 78px;
        height: auto;
    }
}