.search-container {
    height: 60px;
    background: #efeff4;
    padding: 12px;
}

input.search {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    background: white;
    border-radius: 6px !important;
    height: 34px !important;
    box-shadow: none !important;
}

input.search:focus {
    border-radius: 6px !important;
    box-shadow: none !important;
    background: white;
}

.input-group {
    max-width: 600px;
    margin: 0 auto;
}

.custom-badge {
    background: linear-gradient(to right bottom, #ff4943, #ff6454, #ff7a66, #ff8f79, #ffa28d);
    color: white;
    font-size: 12px;
}