.main-container {
    position: absolute;
    height: calc(100% - 58px);
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.75)), url(../../assets/couple.jpg);
    background-size: cover;
    background-position: center;
    color: #dfdfdf !important;
}

.text-container {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

