<div class="main-container">
  <div class="text-container" style="text-align: center">
    <h1>Find your match</h1>
    <p class="lead">Come on in to view your matches... All you need to do is sign up!</p>
    <div class="text-center">
      <button type="button" class="btn btn-outline-primary" style="font-size: 16px; box-shadow: none; border-bottom: 1px solid; border-radius: 0;" (click)="openModal(template)">Register</button>
      <!-- <button class="btn btn-info">Learn more</button> -->
    </div>
  </div>

<ng-template #template>   
  <div class="modal-body">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    <app-register></app-register>
  </div>
</ng-template>