<div class="container">

<div class="banner-container text-center mt-3">
  <h1 class="banner-text">Date Me</h1>
  <h4>international dating agency</h4>
</div>
<div class="content-container">
  <h1>Choose your soul mate</h1>
  <h4>from 300,000+ lonely hearts</h4>
</div>

<div class="white-img-container">
  <div class="text-container">
 <img src="../../assets/content-bg01.png" style="height: 100%; width: 100%;">

      <!-- <button type="button" class="btn btn-outline-primary" (click)="openModal(template)">Register</button> -->
      <!-- <button class="btn btn-info">Learn more</button> -->
  </div>

</div>
<div class="couple-img-container">
  <img src="../../assets/couple-bg.png" style="height: 70%; width: 70%;">
</div>

<ng-template #template>   
  <div class="modal-body">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    <app-register></app-register>
  </div>
</ng-template>