<div class="background-image"></div>
<div class="container">
  <div class="banner-container text-center mt-3">
    <h1 class="banner-text">Date Me</h1>
    <h4>international dating agency</h4>
  </div>
  <div class="content-container">
    <h1>Choose your soul mate</h1>
    <h4>from 300,000+ lonely hearts</h4>
    <button *ngIf="!loggedIn()" class="btn btn-custom" (click)="openModal(template)">
      <i class="fa fa-long-arrow-right arrow-right mr-2"></i>Join Us</button>
      <button *ngIf="loggedIn()" class="btn btn-custom" [routerLink]="['/members']">
        <i class="fa fa-long-arrow-right arrow-right mr-2"></i>Join Us</button>
  </div>
  <!-- couple image -->
  <img src="../../assets/couple-bg.png" class="couple-bg">
</div>
<section class="love-stories">
  <img src="../../assets/white-bg.png" class="white-bg" alt="white background image" width="100%">
  <div class="love-stories-container">
    <div class="text-container mt-5">
      <h1>Love Stories</h1>
      <p class="text-muted">Today, on our 50th wedding anniversary, my husband took out an old envelope and
        handed me back the love note I wrote him in the 7th grade.</p>
      <h5 class="text-center text-uppercase font-weight-bold">Kory Robbins & Teresa Briggs</h5>
    </div>
    <div class="images-container-left">
      <img src="../../assets/img/home-03.jpg" style="width: 100%;">
      <img src="../../assets/img/home-04.jpg" style="width: 50%;">
      <img src="../../assets/img/home-05.jpg" style="width: 50%;">
      <img src="../../assets/img/home-06.jpg" style="width: 50%;">
      <img src="../../assets/img/home-07.jpg" style="width: 50%;">
    </div>
    <div class="images-container-right">
      <img src="../../assets/img/home-08.jpg" style="width: 100%;">
      <img src="../../assets/img/home-09.jpg" style="width: 100%;">
    </div>
  </div>
  <img src="../../assets/orange-bg.png" class="orange-bg" alt="orange background image" width="100%">
</section>

<ng-template #template>
  <div class="modal-body">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    <app-register (closeModal)="closeModal($event)"></app-register>
  </div>
</ng-template>