<div *ngIf="member">
  <div fxLayout="row" fxLayoutAlign="center start" fxFlex="80">
  <div fxLayout="column" class="xs-medium mr-4">
    <img src="{{ member.photoUrl }}" class="member-img" />
    <p class="small muted">ACTIVITY</p>
    <strong>Last Active:</strong>
    <span class="mb-2">{{ member.lastActive }}</span>
    <strong>Members since</strong>
    <span>{{member.created | date}}</span>
  </div>
  <div fxLayout="column">
    <div>
      <strong class="large">{{member.username | titlecase}}</strong>
     <span class="muted">
       <mat-icon class="location-icon">location_on</mat-icon>{{member.city}}, {{member.country}}
     </span> 
    </div>
  </div>
</div>
</div>
