<div class="card-inner p-2">
  <div class="card-img-wrapper" tooltip="last seen {{user.lastActive | timeAgo}}" placement="bottom">
    <img class="card-img-top" src="{{user.photoUrl || '../../../../../assets/user.png'}}" alt="{{user.knownAs}}">
    <div class="active-status active-{{user.lastActive | isActive}}"></div>
  </div>
  <div class="card-body text-left p-0 pl-1">
    <h5 class="card-title font-weight-bold medium-font mb-1">
      {{user.knownAs}}, {{user.age}}
      <div class="d-inline-block gender-icon-container">
        <i *ngIf="user.gender=='male'" class="gender-icon fa fa-mars"></i>
        <i *ngIf="user.gender=='female'" class="gender-icon fa fa-venus"></i>
      </div>
    </h5>
    <p class="card-text text-muted text-centre">
      <i class="fa fa-map-marker mr-1"></i>{{user.country}} / {{user.city}}
    </p>
    <div class="user-menu" dropdown>
      <button id="user-menu-button" dropdownToggle type="button" class="btn user-menu-btn"
        aria-controls="dropdown-basic">
        <i class="fa fa-ellipsis-v icon-menu"></i>
      </button>
      <ul id="dropdown-basic" *dropdownMenu  class="dropdown-menu dropdown-card" role="menu" aria-labelledby="button-basic">
        <li role="menuitem"><a class="dropdown-item" [routerLink]="['/members/', user.id]">View Profile</a></li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem"><a class="dropdown-item" [routerLink]="['/members/', user.id]"
            [queryParams]="{tab: 2}">Message</a></li>
      </ul>
    </div>
    <i class="fa fa-heart icon-heart" (click)="sendLike(user.id)"></i>
  </div>
</div>