.card {
    box-shadow: none;
    max-width: 180px;
    margin: 0 auto;
}

.card:hover img {
    transition-duration: 200ms; 
    transition-timing-function: ease-out;
    opacity: 0.65;
}

.card img {
    transition-duration: 500ms; 
    transition-timing-function: ease-out;
    border-radius: 50%;
}

.card-img-wrapper {
    overflow: hidden;
    position: relative;
}

.member-icons {
    position: absolute;
    bottom: -30%;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    opacity: 0;
}

.card-img-wrapper:hover .member-icons {
bottom: 0;
opacity: 1;
}

.animate {
    transition: all 0.3s ease-in-out;
}