<div fxLayout="row" fxLayoutAlign="space-between start">
  <h1 mat-dialog-title>Register</h1>
  <button mat-icon-button (click)="close()">
      <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content>
<form fxLayout="column" #loginForm="ngForm" (ngSubmit)="register()" autocomplete="off">
  <mat-form-field fxFlex="100">
      <mat-label>Username</mat-label>
      <input matInput name="username" [(ngModel)]="model.username" />
  </mat-form-field>
  <mat-form-field fxFlex="100">
      <mat-label>Password</mat-label>
      <input matInput name="password" type="password" [(ngModel)]="model.password" />
  </mat-form-field>
  <div mat-dialog-actions fxLayoutAlign="end center">
      <button mat-raised-button color="primary" type="submit">Register</button>
  </div>
</form>
</div>