<div class="card">
  <div class="card-body" #scrollMe [scrollTop]="scrollMe.scrollHeight">
    <div *ngIf="messages?.length === 0">
      <p>No messages yet</p>
    </div>
    <ul class="chat">
      <li *ngFor="let message of messages">
        <div *ngIf="message.senderId == recipientId" class="text-left">
          <span class="chat-img float-left">
            <img src="{{message.senderPhotoUrl}}" alt="{{message.senderKnownAs}}" class="rounded-circle mr-1">
          </span>
          <div class="chat-body chat-body-recipient">
            <div class="header">
            </div>
            <p class="mb-0 recipient-message bg-info">{{message.content}}</p>
            <small class="text-muted">
              <span class="fa fa-clock-o"> {{message.messageSent | timeAgo}}</span>
            </small>
          </div>
        </div>
        <div *ngIf="message.senderId != recipientId">
          <div class="chat-body text-right chat-body-me">
            <div>
            <p class="mb-0 my-message bg-primary">{{message.content}}</p>
          </div>
            <div class="header">
              <small class="text-muted">
                <span class="fa fa-clock-o"> {{message.messageSent | timeAgo}}</span>
                <span *ngIf="message.isRead" class="fa fa-check text-success ml-1"></span>
                <span *ngIf="!message.isRead" class="fa fa-check text-unread ml-1"></span>
              </small>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="card-footer">
    <form #messageForm="ngForm" (ngSubmit)="messageForm.valid && sendMessage()">
      <div class="input-group">
        <input [(ngModel)]="newMessage.content" name="content" required type=text class="form-control input-sm"
          placeholder="send a message">
        <div class="input-group-append">
          <button class="btn btn-primary" [disabled]="!messageForm.valid">Send</button>
        </div>
      </div>
    </form>
  </div>
</div>